<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
      <p><%= notice %></p>
      <h1>ピクチャー一覧</h1>
        <%= link_to "ピクチャーを作成する", new_picture_path, class: 'btn btn-default'  %>
        <% @pictures.each do |picture| %>
          <div class="row">
            <%= link_to picture_path(picture) do %>
              <h4><strong><%= picture.title %></strong></h4>
            <% end %>
            <p><%= picture.content %></p>
            <p><%= image_tag picture.avatar %></p>
            <p><%= picture.user.name %></p>
              <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
              <%= link_to "削除", picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-default btn-sm btn btn-danger' %>
          </div>
        <% end %>
    </div>
</div>
